@model EntityLayer.Concrete.User
@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_AniventiLayout.cshtml";

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
}

<h2 class="bg bg-secondary">Yeni Kullanıcı Ekle</h2>
<br />
@using (Html.BeginForm("AddUser", "User", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Yeni Kullanıcı Adı")
        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
        <br />
        @Html.Label("Yeni Kullanıcı Soyadı")
        @Html.TextBoxFor(x => x.UserSurname, new { @class = "form-control" })
        <br />
        @Html.Label("Yeni Kullanıcı Görevi")
        @Html.TextBoxFor(x => x.UserTitle, new { @class = "form-control" })
        <br />
        @Html.Label("Yeni Kullanıcı Eposta")
        @Html.TextBoxFor(x => x.Usermail, new { @class = "form-control" })
    </div>
    <button class="btn btn-success">Kaydet</button>
}

